{%extends 'base.html'%}

{% block head %}
<title>Bus System</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Bus System</h1>

    {% if clients | length <1 %}
    <h3>You can start to save client's info here!</h3>
    
    {% else %}
    <table>
        <tr>
            <th>Seat</th>
            <th>From</th>
            <th>To</th>
            <th>Added at</th>
        </tr>

        {% for client in clients %}
        <tr>
            <td>{{ client.seat_number }}</td>
            <td>{{ client.from_location }}</td>
            <td>{{ client.to_location }}</td>
            <td>{{ client.added.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>
                <a href="/delete/{{ client.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/enter" method="POST">
        <input type="number" name="seat_number" id="seat_number" min="1" max="" placeholder="Seat number" required>
        <input type="text" name="from_location" id="from_location" placeholder="From where" required>
        <input type="text" name="to_location" id="to_location" placeholder="To where" required>
        <input type="submit" value="Submit" id="btn">
    </form>

</div>
{% endblock %}