body{
    background-color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.content h1{
    color:darkslategrey;
}

table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

a{
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 15px;
    background-color: cadetblue;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.content table th, .content table td{
    padding: 10px;
    border: 1px solid #ccc;
}

.content table th th, .content table td th {
    background-color: #f0f0f0;
    color: darkslategrey;
}

.content a:hover {
    background-color: #ccc;
}

input{
    padding: 10px;
    margin: 5px;
    border: solid 1px;
    border-radius: 5px;
}

.content #btn {
    background-color: darkslategrey;
    color: #fff;
    cursor: pointer;
}
.content #btn:hover {
    background-color: #ccc;
}