{%extends 'base.html'%}

{% block head %}
<title>Bus System</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Bus System</h1>

    {% if routes %}

    <table>
        <tr>
            <th>Entered Route</th>
            <th>Actions</th>
        </tr>

        {% for route in routes %}  <!-- Loop through all routes -->
        <tr>
            <td>{{ route.route_string }}</td>
            <td>
                <a href="/edit_route/{{ route.id }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    
    <form action="/enter_route" method="post">
        <input type="text" name="route" id="route" placeholder="Enter the route with '-' between" required>
        <input type="submit" value="Submit" id="btn">
    </form>
    
    {% endif %}


</div>
{% endblock %}